<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %> | Tendies Tracker</title>
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/index-style.css' />
  <link rel="icon" href="/images/favicon.ico" />
  <script src="/javascripts/script.js" defer></script>
</head>
<body>
  <header>
    <a href="/" class="logo">
      <img src="./images/logo.png" alt="tendie tracker">
      <span>Tendies Tracker</span>
    </a>

    <button type="button" class="btn btn-icon menu-open">
      <span class="material-icons-outlined">menu</span>
    </button>

    <div class="header-links close">
      <button type="button" class="btn btn-icon menu-close">
        <span class="material-icons-outlined">close</span>
      </button>
      <a href="<%= user.url %>" class="btn btn-primary btn-user">
        <span>🚀</span>
        <%= user.username %>
      </a>
      <a href="/logout" class="btn btn-secondary">Log out</a>
    </div>
  </header>

  <main>
    <% if (!portfolio) { %> 
      <h1>Feeling bullish? 📈</h1>
      <p>Let's get you started with a new portfolio:</p>

      <div class="button-group">
        <a href="/portfolio/create" class="btn btn-primary">+ Create portfolio</a>
      </div>
    <% } else { %>
      <h1><%= daily_change > 0 ? "Feeling bullish? 📈" : "Bear gang day 📉" %></h1>

      <div class="dashboard">
        <section class="card portfolio">
          <div class="card-header">
            <h2 class="card-title"><%= portfolio.name %></h2>
            <span class="portfolio-total">$<%= portfolio_value %></span>
          </div>

          <h3 class="card-subtitle">Day's gain</h3>
          <span class="change"><%= daily_change %></span>
          <span class="change percent-<%= (daily_percent_change > 0) ? "pos" : "neg" %>"><%= daily_percent_change %>%</span>

          <h3 class="card-subtitle">Total gain</h3>
          <span class="change"><%= total_change %></span>
          <span class="change percent-<%= (total_percent_change > 0) ? "pos" : "neg" %>"><%= total_percent_change %>%</span>

          <a href="<%= portfolio.url %>" class="btn btn-more">
            View Portfolio
            <span class="material-icons-outlined">navigate_next</span>
          </a>
        </section>

        <section class="card holdings">
          <div class="card-header">
            <h2 class="card-title">Top Holdings</h2>
          </div>
        
          <% if (top_holdings.length > 0) { %>
            <% top_holdings.forEach((holding) => { %>
              <div class="card-row">
                <h3 class="ticker"><%= holding.ticker %></h3>
                <span class="price"><%= parseFloat(holding.current_price).toFixed(2) %></span>
                <p><%= holding.company %></p>
                <span class="change percent-<%= (parseFloat(holding.day_percent_change) > 0) ? "pos" : "neg" %>"><%= parseFloat(holding.day_percent_change).toFixed(2) %>%</span>
              </div>
            <% }) %> 
            <% } else { %>
              <p>Your portfolio has no holdings 😭</p>
            <% } %> 
        </section>

        <section class="card transactions">
          <div class="card-header">
            <h2 class="card-title">Recent Transactions</h2>
          </div>

          <% if (recent_transactions.length > 0) { %>
            <% recent_transactions.forEach((transaction) => { %> 
              <div class="card-row link">
                <h3 class="ticker"><%= transaction.ticker %></h3>
                <span class="shares"><%= transaction.shares %> shares</span>
                <p><%= formatDate(transaction.date, 'LLL dd, yyyy') %></p>
                <span class="avg-price">$<%= transaction.total.toFixed(2) %></span>
                <a href="<%= transaction.url %>" class="btn btn-icon">
                  <span class="material-icons-outlined">arrow_forward_ios</span>
                </a>
              </div>
            <% }) %> 
          <% } else { %>
            <a href="<%= portfolio.url %>/transactions/create" class="plain-link">Add your first transaction 🤑</a>
          <% } %> 
        </section>
      </div>
    <% } %> 
  </main>

  <footer>
    <div class="footer-top">
      <a href="/">
        <img src="./images/logo.png" alt="tendie tracker" class="footer-img">
      </a>
      <a href="https://github.com/gregolive" target="_blank" rel="noopener">
        <img src="./images/github.png" alt="github" class="footer-img">
      </a>
    </div>

    <div class="footer-main">
      <a href="/" class="footer-link">Home</a>
      <a href="<%= user.url %>" class="footer-link">Your Account</a>
      <a href="<%= portfolio.url %>" class="footer-link">Your Portfolio</a>
      <a href="<%= portfolio.url %>/transactions/create" class="footer-link">Add Transaction</a>
    </div>

    <div class="footer-bottom">
      <span>Market data provided by <a href="https://finnhub.io/" target="_blank" rel="noopener">Finnhub</a>.</span>
      <span>&copy; gregolive</span>
    </div>
  </footer>
</body>
</html>