<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %> | Tendies Tracker</title>
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="icon" href="/images/favicon.ico" />
  <script src="/javascripts/script.js" defer></script>
</head>
<body>
  <header>
    <a href="/" class="logo">
      <img src="../../images/logo.png" alt="tendie tracker">
      <span>Tendies Tracker</span>
    </a>

    <button type="button" class="btn btn-icon menu-open">
      <span class="material-icons-outlined">menu</span>
    </button>

    <div class="header-links close">
      <button type="button" class="btn btn-icon menu-close">
        <span class="material-icons-outlined">close</span>
      </button>
      <a href="<%= user.url %>" type="button" class="btn btn-primary btn-user">
        <span>🚀</span>
        <%= user.username %>
      </a>
      <a href="/logout" type="button" class="btn btn-secondary">Log out</a>
    </div>
  </header>

  <main>
    <h1><%= title %></h1>

    <form action="" method="POST" class="signup-form" novalidate>  
      <fieldset>
        <label for="username">Username</label>
        <input type="text" name="username" id="username" value="<%= (typeof user === "undefined") ? "" : user.username %>" class="small-input" />
        <span class="error-msg">
          <% if (typeof errors !== "undefined" && Object.keys(errors).includes("username")) { %>
            <%= errors["username"].msg %>
          <% } %>
        </span>
      </fieldset>

      <fieldset>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" value="<%= (typeof user === "undefined") ? "" : user.email %>" class="small-input" />
        <span class="error-msg">
          <% if (typeof errors !== "undefined" && Object.keys(errors).includes("email")) { %>
            <%= errors["email"].msg %>
          <% } %>
        </span>
      </fieldset>

      <fieldset>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" autocomplete="on" value="<%= (typeof user === "undefined") ? "" : user.password %>" class="small-input" />
        <span class="error-msg">
          <% if (typeof errors !== "undefined" && Object.keys(errors).includes("password")) { %>
            <%= errors["password"].msg %>
          <% } %>
        </span>
      </fieldset>

      <fieldset>
        <label for="passwordConfirm">Password Confirmation</label>
        <input type="password" name="passwordConfirm" id="passwordConfirm" autocomplete="on" class="small-input" />
        <span class="error-msg">
          <% if (typeof errors !== "undefined" && Object.keys(errors).includes("passwordConfirm")) { %>
            <%= errors["passwordConfirm"].msg %>
          <% } %>
        </span>
      </fieldset>

      <div class="button-group">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </main>

  <footer>
    <div class="footer-top">
      <a href="/">
        <img src="../../images/logo.png" alt="tendie tracker" class="footer-img">
      </a>
      <a href="https://github.com/gregolive" target="_blank" rel="noopener">
        <img src="../../images/github.png" alt="github" class="footer-img">
      </a>
    </div>

    <div class="footer-main">
      <a href="" class="footer-link">Dummy Link 1</a>
      <a href="" class="footer-link">Dummy Link 2</a>
      <a href="" class="footer-link">Dummy Link 3</a>
      <a href="" class="footer-link">Dummy Link 4</a>
    </div>

    <div class="footer-bottom">
      <span>Market data provided by <a href="https://www.alphavantage.co/" target="_blank" rel="noopener">Alpha Vantage</a>.</span>
      <span>&copy; gregolive</span>
    </div>
  </footer>
</body>
</html>