<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %> | Tendies Tracker</title>
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="icon" href="/images/favicon.ico" />
  <script src="/javascripts/script.js" defer></script>
  <script src="/javascripts/popup.js" defer></script>
</head>
<body>
  <% if (message) { %> 
    <span class="popup">
      <%= message %>
      <button type="button" class="btn btn-transparent popup-close">
        <span class="material-icons-outlined">close</span>
      </button>
    </span>
  <% } %>

  <header>
    <a href="/" class="logo">
      <img src="../../../images/logo.png" alt="tendie tracker">
      <span>Tendies Tracker</span>
    </a>

    <button type="button" class="btn btn-icon menu-open">
      <span class="material-icons-outlined">menu</span>
    </button>

    <div class="header-links close">
      <button type="button" class="btn btn-icon menu-close">
        <span class="material-icons-outlined">close</span>
      </button>
      <a href="<%= user.url %>" class="btn btn-primary btn-user">
        <span>🚀</span>
        <%= user.username %>
      </a>
      <a href="/logout" class="btn btn-secondary">Log out</a>
    </div>
  </header>

  <main>
    <h1><%= title %></h1>

    <div class="details">
      <strong>Portfolio:</strong> <a href="<%= transaction.portfolio.url %> "><%= transaction.portfolio.name %></a>
      <strong>Ticker:</strong> <%= transaction.ticker %>
      <strong>Avg price:</strong> $<%= transaction.avg_price.toFixed(2) %>
      <strong>Shares:</strong> <%= transaction.shares %>
      <strong>Total Cost:</strong> $<%= transaction.total.toFixed(2) %>
      <strong>Date:</strong> <%= formatDate(transaction.date, 'LLL dd, yyyy') %>
      
    </div>

    <div class="button-group edit-delete">
      <a href="<%= transaction.url + '/update' %>" class="btn btn-primary btn-user">Edit transaction</a>
      <a href="<%= transaction.url + '/delete' %>" class="btn btn-secondary btn-danger">Delete transaction</a>
    </div>
  </main>

  <footer>
    <div class="footer-top">
      <a href="/">
        <img src="../../../images/logo.png" alt="tendie tracker" class="footer-img">
      </a>
      <a href="https://github.com/gregolive" target="_blank" rel="noopener">
        <img src="../../../images/github.png" alt="github" class="footer-img">
      </a>
    </div>

    <div class="footer-main">
      <a href="" class="footer-link">Dummy Link 1</a>
      <a href="" class="footer-link">Dummy Link 2</a>
      <a href="" class="footer-link">Dummy Link 3</a>
      <a href="" class="footer-link">Dummy Link 4</a>
    </div>

    <div class="footer-bottom">
      <span>Market data provided by <a href="https://www.alphavantage.co/" target="_blank" rel="noopener">Alpha Vantage</a>.</span>
      <span>&copy; gregolive</span>
    </div>
  </footer>
</body>
</html>