<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %> | Tendies Tracker</title>
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/portfolio-style.css' />
  <link rel="icon" href="/images/favicon.ico" />
  <script src="/javascripts/script.js" defer></script>
  <script src="/javascripts/popup.js" defer></script>
</head>
<body>
  <% if (message) { %> 
    <span class="popup">
      <%= message %>
      <button type="button" class="btn btn-transparent popup-close">
        <span class="material-icons-outlined">close</span>
      </button>
    </span>
  <% } %> 

  <header>
    <a href="/" class="logo">
      <img src="../images/logo.png" alt="tendie tracker">
      <span>Tendies Tracker</span>
    </a>

    <button type="button" class="btn btn-icon menu-open">
      <span class="material-icons-outlined">menu</span>
    </button>

    <div class="header-links close">
      <button type="button" class="btn btn-icon menu-close">
        <span class="material-icons-outlined">close</span>
      </button>
      <a href="<%= user.url %>" class="btn btn-primary btn-user">
        <span>🚀</span>
        <%= user.username %>
      </a>
      <a href="/logout" class="btn btn-secondary">Log out</a>
    </div>
  </header>

  <main>
    <h1><%= portfolio.name %></h1>
    
    <div class="button-group edit-delete">
      <a href="<%= portfolio.url + '/update' %>" class="btn btn-primary btn-user">Edit portfolio</a>
      <a href="<%= portfolio.url + '/delete' %>" class="btn btn-secondary btn-danger">Delete portfolio</a>
    </div>

    <section>
      <h2>Holdings</h2>

      <% if (holdings.length > 0) { %>
        <table>
          <tr>
            <th>Ticker</th>
            <th class="large-screen">Company</th>
            <th>Shares</th>
            <th>Average Price</th>
            <th>Market Price</th>
            <th class="medium-screen">Cost Basis</th>
            <th class="medium-screen">Market Value</th>
            <th class="large-screen">Gain/Loss</th>
            <th>Growth</th>
            <th class="large-screen">Portfolio Weight</th>
          </tr>
          <% holdings.forEach((holding) => { %>
            <% const marketValue = (holding.current_price * holding.shares).toFixed(2) %> 
            <% const gain = (marketValue - holding.total).toFixed(2) %>
            <tr>
              <td class="ticker-col"><%= holding.ticker %></td>
              <td class="large-screen company-col"><%= holding.company %></td>
              <td><%= holding.shares %></td>
              <td>$<%= (holding.total / holding.shares).toFixed(2) %></td>
              <td>$<%= holding.current_price.toFixed(2) %></td>
              <td class="medium-screen">$<%= holding.total.toFixed(2) %></td>
              <td class="medium-screen">$<%= marketValue %></td>
              <td class="large-screen text-<%= (gain > 0) ? "success" : "danger" %>">$<%= gain %></td>
              <td class="text-<%= (gain > 0) ? "success" : "danger" %>"><%= (gain / holding.total * 100).toFixed(2) %>%</td>
              <td class="large-screen"><%= (marketValue / portfolio_value * 100).toFixed(1) %>%</td>
            </tr>
          <% }) %>
        </table>
      <% } else { %>
        <p>Your portfolio has no holdings 😭</p>
      <% } %> 
    </section>

    <section>
      <h2>Transactions</h2>

      <div class="button-group">
        <a href="<%= portfolio.url %>/transactions/create" class="btn btn-secondary">+ New transaction</a>
      </div>

      <% if (transactions.length > 0) { %>
        <div class="transactions">
          <% transactions.forEach((transaction) => { %>
            <a href="<%= transaction.url %>" class="transaction-row">
              <div>
                <h3 class="ticker"><%= transaction.ticker %></h3>
                <p><%= formatDate(transaction.date, 'LLL dd, yyyy') %></p>
              </div>
              <div>
                <p class="shares"><%= transaction.shares %> shares</p>
                <span class="avg-price">$<%= transaction.total.toFixed(2) %></span>
              </div>
              <span class="material-icons-outlined">arrow_forward_ios</span>
            </a>
          <% }) %>
        </div>
        <a href="<%= portfolio.url %>/transactions/all" class="plain-link">See all transactions</a>
      <% } %>
    </section>
  </main>

  <footer>
    <div class="footer-top">
      <a href="/">
        <img src="../images/logo.png" alt="tendie tracker" class="footer-img">
      </a>
      <a href="https://github.com/gregolive" target="_blank" rel="noopener">
        <img src="../images/github.png" alt="github" class="footer-img">
      </a>
    </div>

    <div class="footer-main">
      <a href="" class="footer-link">Dummy Link 1</a>
      <a href="" class="footer-link">Dummy Link 2</a>
      <a href="" class="footer-link">Dummy Link 3</a>
      <a href="" class="footer-link">Dummy Link 4</a>
    </div>

    <div class="footer-bottom">
      <span>Market data provided by <a href="https://www.alphavantage.co/" target="_blank" rel="noopener">Alpha Vantage</a>.</span>
      <span>&copy; gregolive</span>
    </div>
  </footer>
</body>
</html>